#root,
.app-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#home,
#services,
#team,
#contact {
  scroll-margin-top: 50px;
}

.app-layout {
  background-color: #f8fafc;
  color: #1e293b;
}

.main-content {
  flex: 1;
  margin: 0 auto;
}

.contact-section {
  padding-bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom in oklab, #f8fafc 2%, #b7d8ff 40%);
}

@media (min-width: 768px) {
  .contact-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contact-container {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
}

.contact-header {
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .contact-title {
    font-size: 2.25rem;
  }
}

/* Grid layout responsive */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {

  input,
  select,
  textarea {
    font-size: 1rem !important;
  }
}